@model NNR.UIEntity.VM.TemplateVM
    @{ 
        ViewBag.Title = "TemplateHome";
        Layout = "~/Views/_Layout.cshtml";
    }

<div>
    <h1>testing</h1>
    <span class="plus"></span>
       
</div>