<div id="site_content">

    <div class="sidebar_container">
        <div class="sidebar">
            <div class="sidebar_item">
                <h2>New Website</h2>
                <p>Welcome to our new website. Please have a look around, any feedback is much appreciated.</p>
            </div><!--close sidebar_item-->
        </div><!--close sidebar-->
        <div class="sidebar">
            <div class="sidebar_item">
                <h2>Latest Update</h2>
                <h3>January 2013</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus tempor enim.</p>
            </div><!--close sidebar_item-->
        </div><!--close sidebar-->
        <div class="sidebar">
            <div class="sidebar_item">
                <h3>December 2012</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus tempor enim.</p>
            </div><!--close sidebar_item-->
        </div><!--close sidebar-->
        <div class="sidebar">
            <div class="sidebar_item">
                <h3>November 2012</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus tempor enim.</p>
            </div><!--close sidebar_item-->
        </div><!--close sidebar-->
        <div class="sidebar">
            <div class="sidebar_item">
                <h2>Contact</h2>
                <p>Phone: +44 (0)1234 567891</p>
                <p>Email: <a href="mailto:info@youremail.co.uk">info@youremail.co.uk</a></p>
            </div><!--close sidebar_item-->
        </div><!--close sidebar-->
    </div><!--close sidebar_container-->

    <div id="content">
        <div class="content_item">
            <h2>Latest Projects</h2>
            <div class="content_container">
                <h3>Example 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis sapien vel orci posuere tristique quis vitae nisi. Sed porta venenatis auctor. Fusce iaculis ligula odio.</p>
            </div><!--close content_container-->
            <div class="content_container">
                <h3>Example 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis sapien vel orci posuere tristique quis vitae nisi. Sed porta venenatis auctor. Fusce iaculis ligula odio.</p>
            </div><!--close content_container-->
            <div class="content_container">
                <h3>Example 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis sapien vel orci posuere tristique quis vitae nisi. Sed porta venenatis auctor. Fusce iaculis ligula odio.</p>
            </div><!--close content_container-->
            <div class="content_container">
                <h3>Example 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis sapien vel orci posuere tristique quis vitae nisi. Sed porta venenatis auctor. Fusce iaculis ligula odio.</p>
            </div><!--close content_container-->
        </div><!--close content_item-->
    </div><!--close content-->
</div><!--close site_content--> 
