
@{
    ViewBag.Title = "Carer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">

            <img src="~/images/1.jpg" />

        </div>
        <div class="col-lg-2">

            <img src="~/images/2.jpg" />

        </div>
        <div class="col-lg-2">

            <img src="~/images/3.jpg" />

        </div>

        <div class="col-lg-2">

            <img src="~/images/4.jpg" />

        </div>
        <div class="col-lg-2">

            <img src="~/images/5.jpg" />

        </div>
        <div class="col-lg-2">

            <img src="~/images/6.jpg" />

        </div>


    </div>

</div>


<div class="container" style="height:100px">
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">



        </div>
        <div class="col-lg-8">

         <p style="margin-bottom:20px">
             At Aparna Enterprises Limited , we truly believe there’s no shortcut to success. The only mantra to success is hard work, perseverance, integrity and an attitude to never give up. We have also been consistently best employer and preferred brand of choice in the market place.
         </p>

            <p style="margin-bottom:20px">
                Join us to be a part of a continuous growth story. We are committed to creating an environment that is conducive encourage talent. We empower our employees by giving them the opportunity to shoulder responsibility at a very early stage in their careers.
            </p>

            <p style="margin-bottom:20px">
                Register & submit Your Resume to apply at hrd@aparnaenterprisesltd.com
            </p>

        </div>
      


        <div class="col-lg-2">



        </div>
    </div>
</div>

