@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row" >
        <div class="col-lg-2">

            <img src="~/images/1.jpg" height="150" />

        </div>
        <div class="col-lg-2">

            <img src="~/images/2.jpg" height="150" />

        </div>
        <div class="col-lg-2">

            <img src="~/images/3.jpg" height="150" />

        </div>

        <div class="col-lg-2">

            <img src="~/images/4.jpg" height="150" />

        </div>
        <div class="col-lg-2">

            <img src="~/images/5.jpg" height="150" />

        </div>
        <div class="col-lg-2">

            <img src="~/images/6.jpg" height="150" />

        </div>


    </div>

</div>
<div class="container" style="height:100px">
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-3">
            <div class="row">
                <img src="~/images/Exp.PNG" />
            </div>
            <div class="row">27</div>
            <div class="row">Years Of Experience</div>
            <div class="row">
                We are ISO 9001 Certified and our products are

            </div>
            <div class="row">
                manufactured to the highest quality standardss
            </div>
        </div>
        <div class="col-lg-3">
            <img src="~/images/clients.PNG" />

            <div class="row">700+</div>
            <div class="row">ESTEEMED CLIENTS</div>
            <div class="row">
                We’re associated with every landmark project in

            </div>
            <div class="row">
                South of India in the last 20 years
            </div>
        </div>

        <div class="col-lg-3">

            <img src="~/images/Team.PNG" />

            <div class="row">1200+</div>
            <div class="row">TEAM MEMBERS</div>
            <div class="row">
                Our team is built on values of Transparency,   We are ISO 9001 Certified and our products are

            </div>
            <div class="row">
                manufactured to the highest quality standardss
            </div>


        </div>

        <div class="col-lg-2">
        </div>


    </div>

</div>


@*<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
          
         

        </div>
        <div class="col-lg-2">

            <hr size="5" />

        </div>
        <div class="col-lg-4">

         <div style="vertical-align:central">  <h1> OUR DIVISIONS</h1></div>

        </div>

        <div class="col-lg-2">

         <hr size="10"/>

        </div>
        <div class="col-lg-2">

           

        </div>
    </div>

</div>*@


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
        </div>

        <div class="col-md-8">


            <!-- tabs left -->
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#a" data-toggle="tab">About Ready Mix</a></li>
                    <li><a href="#b" data-toggle="tab">Advantages</a></li>
                    <li><a href="#c" data-toggle="tab">Technology</a></li>
                   
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="a">
                        @{Html.RenderPartial("ReadyMixConcrete");
                        }
                    </div>
                    <div class="tab-pane" id="b">
                        @{Html.RenderPartial("Advantages");
                        }
                    </div>
                    <div class="tab-pane" id="c">
                        @{Html.RenderPartial("Technology");
                        }
                    </div>                   
                </div>
            </div>





            <div class="col-lg-2">



            </div>
        </div>
    </div>
</div>

@*<div class="container-fluid">
    @{Html.RenderPartial("_divisions");
    }
    </div>*@
