
<br />
<p>
    VNS RMC has installed Schwing Stetter’s latest concrete batching equipment at all its plants. The company is currently producing 600,000 cu.mt concrete every year for consumption in Hyderabad and is planning to increase its capacity further. All the batching plants are controlled by MCI 360 controls and Siemens PLCs. All the plants stock large stocks of aggregates, cement and admixtures.  The plants are equipped with large inline silos with a capacity of 150cu.mt to ensure continuity of operations. All the plants are supported by 100% backup of Diesel generating sets.
</p>
<p>
    Each plant has its own fully equipped Quality Assurance Laboratories.
</p>
<p>
    The company has the largest fleet of Transit Mixers numbering more than 90 and concrete pump fleet of 25 pumps that are capable to pump concrete for high rise structures. Large stocks of piping are always available to ensure laying of long supply lines in complex construction projects. All the equipment at VNS RMC is planned to ensure uninterrupted operations – to meet the customers’ time schedules with precision and perfection.
</p>