
@{
    ViewBag.Title = "CSR";
}

<main class="site-main page-main">
    <section class="hero_area1">
        <div class="hero_content">
            <div class="container">
                <div class="row">
                    @*<div class="col-sm-12">
                            <h1>COMPANY NAME</h1>
                            <h2>Donec Elit Non Porta Gravida Eget Metus</h2>
                        </div>*@
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <section class="page col-sm-12">
                <br />
                <p>The Founder President of the Society – Mr. CH.Nageswarao is exceptionally compassionate about the welfare of the underprivileged sections of the society. He is particularly committed to the welfare of orphans, street children or those from the economically backward sections and regions. He decided to create a novel home for such children. His compassion for the welfare of the underprivileged drew immediate support from like minded people resulting in the formation of a Society – ANSWER – aptly named as it intends to provide answers to the problems of humanity. Towards making a qualitative difference in the lives of some individuals, it was felt that the Society should plan all its actions based on proper research so that the long term solutions are addressed in a proper perspective while continuing to meet short term goals. Research in selected areas was undertaken through professional research agencies. Based on the inputs received from all such sources, it was decided that, the problems of the children would be addressed along with the provision of a facility for the elderly population. The need for emotional support to the children as well as the elders being a common factor, the concept of a co-located facility for both the mutually empowering sections was accepted. It was also decided that sponsorship will be provided to individuals for higher education, medical treatment or any such activities which bring in purpose and quality to the otherwise hopeless life.</p>
                <br />
            </section>
        </div>
    </div>
</main>




