@{
    ViewBag.Title = "Home Page";
}

<main class="site-main">
    <section class="hero_area">
        <div class="hero_content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>COMPANY NAME</h1>
                        <h2>Donec Elit Non Porta Gravida Eget Metus</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="boxes_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="box">
                        <center>
                            <i class="fa fa-line-chart"></i>
                            <h3>YEARS OF EXPERTISE</h3>
                            <h2>27</h2>
                        </center>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id pulvinar magna. Aenean accumsan iaculis lorem, nec sodales lectus auctor tempor.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box">
                        <center>
                            <i class="fa fa-building-o"></i>
                            <h3>ESTEEMED CLIENTS</h3>
                            <h2>700+</h2>
                        </center>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id pulvinar magna. Aenean accumsan iaculis lorem, nec sodales lectus auctor tempor.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box">
                        <center>
                            <i class="fa fa-cogs"></i>
                            <h3>TEAM MEMBERS</h3>
                            <h2>1200+</h2>
                        </center>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id pulvinar magna. Aenean accumsan iaculis lorem, nec sodales lectus auctor tempor.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="services">
        <h2 class="section-title">OUR DIVISIONS</h2><br />
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="~/Content/Image/venster-upvc-300x200.jpg" alt="Post" class="img-responsive"/>
                        </div>
                        <div class="col-md-6">
                            <div class="media-body">
                                <h4 class="media-heading">FIRST SERVICE TITLE</h4>
                                <p>Lorem ipsum dolor amet,consectetur adipiscing elit. Proin id pulvinar magna. Aenean accumsan iaculis lorem, nec sodales lectus auctor tempor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-default hover">Go to Venster uPVC</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="~/Content/Image/rmc4-300x200.jpg" alt="Post" class="img-responsive" />
                        </div>
                        <div class="col-md-6">
                            <div class="media-body">
                                <h4 class="media-heading">FIRST SERVICE TITLE</h4>
                                <p>Lorem ipsum dolor amet,consectetur adipiscing elit. Proin id pulvinar magna. Aenean accumsan iaculis lorem, nec sodales lectus auctor tempor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-default hover">Go to Ready Mix Concrete</button>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="media-body">
                                <h4 class="media-heading">FIRST SERVICE TITLE</h4>
                                <p>Lorem ipsum dolor amet,consectetur adipiscing elit. Proin id pulvinar magna. Aenean accumsan iaculis lorem, nec sodales lectus auctor tempor.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="~/Content/Image/tiles-300x200.png" alt="Post" class="img-responsive"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-default hover">Go to Tiles</button>
                        </div>
                        <div class="col-md-6">
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="media-body">
                                <h4 class="media-heading">FIRST SERVICE TITLE</h4>
                                <p>Lorem ipsum dolor amet,consectetur adipiscing elit. Proin id pulvinar magna. Aenean accumsan iaculis lorem, nec sodales lectus auctor tempor.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="~/Content/Image/unispace-300x200.jpg" alt="Post" class="img-responsive"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-default hover">Go to Unispace</button>
                        </div>
                        <div class="col-md-6">
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>